---
layout: page
title: Categories
permalink: /category/
---

<div class="home">
  <div class="row" id="categories">
    {% for category in site.categories %}
    <div class="col-md-3 categories-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div class="row" id="#{{ category_name | slugize }}">
        <h3 class="category-head">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}"></a>
      </div>
      {% assign postIndex = 0 %}
      <div class="row card-container">
        {% for post in site.categories[category_name] %}
          {% assign flipClass = "" %}
          {% if postIndex == 0 %}
            {% assign flipClass = "current" %}
          {% endif %}
          <div class="flip-container {{flipClass}}">
              <div class="flippable ac-{{post.tag}}">
                <div class="front">
                  <article>
                    <h4>{{post.tag}}</h4>
                    <h2 style="margin-bottom: 0;">{{post.title}}</h2>
                      {% if post.word_phonetic %}
                        <audio controls style="width: 70%;height: 30px;">
                          <source src="{{site.baseurl}}/asset/audio/{{post.title | downcase}}.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                        </audio>
                      {% endif %}
                  </article>
                </div>
                <div class="back">
                  <article>
                    <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
                    <p>
                      {% assign imgheight = "135px" %}
                      {% if post.word_phonetic %}
                        {{post.word_phonetic}}
                        <br>
                        {% assign imgheight = "110px" %}
                      {% endif %}
                      {% if post.img %}
                        {% if post.img contains 'http://' or post.img contains 'https://' %}
                          <img height={{imgheight}} src="{{post.img}}" alt="{{post.title}}">
                        {% else %}
                          <img height={{imgheight}} src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
                        {% endif %}
                      {% else %}
                        {{post.word_excerpt}}
                      {% endif %}
                    </p>
                  </article>
                </div>
              </div>
          </div>
          {% assign postIndex=postIndex | plus:1 %}
        {% endfor %}
      </div>
      <div class="row control-container">
        {% if postIndex > 1 %}
          <div class="d-flex justify-content-between w-100 px-5 flip-control">
            <button class="btn btn-primary btn-circle btn-previous"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
            <button class="btn btn-light btn-sm" disabled>{{postIndex}}</button>
            <button class="btn btn-primary btn-circle btn-next"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
          </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
