---
layout: default
---

<div class="home">

<div id="tags">
{% for tag in site.tags %}
  <div class="tags-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>
    <p></p>

    <h3 class="tag-head"><a href="{{ site.baseurl }}/tagged#{{ tag_name | slugify }}">{{tag_name}}</a></h3>
    <a name="{{ tag_name | slugize }}"></a>
  </div>
{% endfor %}
</div>

<dl>
  <dt>A title of the graph</dt>
  <dd class="percentage percentage-7">
    <span class="text">
      IE 11: 7%
    </span>
  </dd>
  <dd class="percentage percentage-20">
    <span class="text">
      Chrome: 20%
    </span>
  </dd>
  <dd class="percentage percentage-2">
    <span class="text">
      Android 4.4: 2%
    </span>
  </dd>
</dl>

<dl>
  <dt>
    Browser market share June 2015
  </dt>
  <dd class="percentage percentage-11"><span class="text">EASY: 11.33%</span></dd>
  <dd class="percentage percentage-100"><span class="text">GOOD: 49.77%</span></dd>
  <dd class="percentage percentage-16"><span class="text">FAIL: 16.09%</span></dd>
</dl>

<div id="categories">
{% for category in site.categories %}
  <div class="categories-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="tag-head"><a href="{{ site.baseurl }}/category#{{ category_name | slugify }}">{{category_name}}</a></h3>
    <a name="{{ category_name | slugize }}"></a>
  </div>
{% endfor %}
</div>

    <div class="row pack">

        {% for post in paginator.posts %}
            <div class="col-md-4 card">
             <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
                <div class="panel panel-default">

                  {% if post.img %}
                    {% if post.img contains 'http://' or post.img contains 'https://' %}
                      <img width="100%" src="{{post.img}}" alt="{{post.title}}">
                    {% else %}
                      <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
                    {% endif %}
                  {% else %}
                  <img width="100%" src="{{site.baseurl}}/images/{{site.baseimg}}" alt="{{site.title}}">
                  {% endif %}

                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
                  </div>

                  <div class="panel-body"><small>
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</small>
                  </div>
                </div>
                </a>
            </div>

          {% endfor %}

    </div>

<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
          {% else %}
            <li><span>&laquo; Prev</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
          {% else %}
            <li><span >Next &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>
