---
layout: default
---

<div class="home">
  <div id="tags">
    {% assign total = 0 %}
    {% assign easy = 0 %}
    {% assign good = 0 %}
    {% assign fail = 0 %}
    {% for post in site.posts %}
      {% assign total=total | plus:1 %}
  		{% if post.tags contains "easy" %}
  			{% assign easy=easy | plus:1 %}
      {% else post.tags contains "good" %}
  			{% assign good=good | plus:1 %}
      {% else %}
  			{% assign fail=fail | plus:1 %}
  		{% endif %}
  	{% endfor %}
    <dl>
      <dd id="easy-tag" class="percentage percentage-{{ easy }}">
        <span class="text"><a href="{{ site.baseurl }}/tagged#easy">easy</a></span></h3>
      </dd>
      <dd id="good-tag" class="percentage percentage-{{ good }}">
        <span class="text"><a href="{{ site.baseurl }}/tagged#good">good</a></span></h3>
      </dd>
      <dd id="fail-tag" class="percentage percentage-{{ total }}">
        <span class="text"><a href="{{ site.baseurl }}/tagged#fail">fail</a></span></h3>
      </dd>
    </dl>
  </div>

  <div id="categories">
    {% for category in site.categories %}
      <div class="categories-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>

        <h3 class="tag-head"><a href="{{ site.baseurl }}/category#{{ category_name | slugify }}">{{category_name}}</a></h3>
        <a name="{{ category_name | slugize }}"></a>
      </div>
    {% endfor %}
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-bicycle">
          <div class="front">
            <span>B</span>
            <i class="fa fa-bicycle"></i>
          </div>
          <div class="back">
            Bicycle
          </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-car">
          <div class="front">
            <span>C</span>
            <i class="fa fa-car"></i>
          </div>
          <div class="back">
            Car
          </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-truck">
          <div class="front">
            <span>T</span>
            <i class="fa fa-truck"></i>
          </div>
          <div class="back">
            Truck
          </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-umbrella">
          <div class="front">
            <span>U</span>
            <i class="fa fa-umbrella"></i>
          </div>
          <div class="back">
            umbrella
          </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flippable appcon ac-plane">
          <div class="front">
            <span>P</span>
            <i class="fa fa-plane"></i>
          </div>
          <div class="back">
            Plane
          </div>
        </div>
    </div>
  </div>
</div>
